
@font-face 
{
    font-family: "Luckie";
    src: url(../fonts/Luckie.otf);
}
@font-face 
{
    font-family: "Unfolding";
    src: url(../fonts/Unfolding\ Free.ttf);
}
@font-face 
{
    font-family: "Starlight";
    src: url(../fonts/StarlightDEMO.ttf);
}
@font-face 
{
    font-family: "Vogue";
    src: url(../fonts/Vogue.ttf);
}
h1
{
    text-align: center;
    font-family:"Starlight", sans-serif;
    color:#9CFAD9;
    font-size:xx-large;
}
body
{
    background-color: rgb(0, 0, 0);
}
h2
{
    font-family: "Unfolding";
    text-align: center;
    color: #94DB79;
}
a.enlace:link
{
    font-family:"Vogue", sans-serif;
    color: #ffc3b9;
    font-size:large;
}
a.enlace:visited
{
    font-family:"Vogue", sans-serif;
    color: #e02200;
    font-size:large;
    
}
a.enlace:hover
{
    color: #f1755f;
    font-size:x-large;
}
.texto
{
    color: #ffffff;
    text-align:justify;
}
.titulo
{
    color: #94DB79;
    text-align: center;
}
h3
{
    color: #94DB79;
    text-align: center;
}
h4
{
    color:black;
    text-align: center;
}
td
{
    text-align: center;
}
hr
{
    color: #FF9D8C;
}
#tabla1
{
    background-color: rgba(214, 214, 207, 0.397);
}
#tabla2
{
    background-color: rgba(214, 214, 207, 0.397) ;
}
#comida
{
    flex: auto;
    flex-wrap: wrap;
    align-items: center;
}
.comida1
{
    flex: auto;
    width: 15%;
    height: 15%;
    padding: 10px;
    position: relative;
    background-color: #fadfda;
    display: inline-block;
}
#temaimportante
{
    margin: auto;
    position: relative;
    background-color: rgba(131, 134, 133, 0.603);
    padding: 30px;
    width: 300px;
    height: 300px;
    overflow: scroll;
}
.img1{
    margin:auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.img2:hover
{
    transform:scale(1.5);
}
.card:hover
{
    width: max-content;
    height: max-content;
    padding: 10px;
    color: #f1755f;
    background-color: #fdc9c0;
    font-size:xx-large;
    margin: auto;
    display: inline-block;
}
#ilustracion
{
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    position: relative;
    margin:auto;
}
#ojos
{
    width: 125px;
    height: 70px;
    background-color: #008cff; 
    border: 5px solid rgb(0, 0, 0);
    position: absolute;
    top:15%;
    right: -15%;
    border-radius:45% 45% 45% 45%;
}
#cuerpo
{
    width: 225px;
    height: 350px;
    background-color: #ff2600; 
    border: 5px solid rgb(0, 0, 0);
    border-bottom: #ff2600;
    position: absolute;
    top:10%;
    left: 25%;
    border-radius: 45% 45% 20% 20%;
}
#atras
{

}
#pies
{

}